.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 15px;
  background-image: url(../imagens/Menu.svg);
  display: inline-block;
  background-repeat: no-repeat;
  margin: 1em;
}

.cabeçalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* colocado para o position: absolute ter efeito no lista-menu */
}

.container {
  display: flex;
  align-items: center;
  
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none; /* esconde a lista para que ela só apareça quando clicar no checkbox */
  position: absolute; /* serve para deixar a lista abaixo do cabeçalho */
  top: 100%; /* tira 100% do cabeçalho e vai para baixo */
  width: 60vw;
  
}

/* função para detectar que o checkbox está "checked", fazendo com que o 'lista-menu' apareça na tela. */
.container__botao:checked ~ .lista-menu {
  display: block;
}


.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
  
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  /* copiado do figma para deixar a fonte degradê */
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /*  */
  text-decoration: none;
  text-transform: uppercase;
}

.container__botao{
     display: none;
}

.container__titulo{
  display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito{
       font-family: var(--fonte-secundaria);
       font-size: 30px;
       ;
    }

    .container__titulo{
      font-weight: 400;
      display: block;
    }

    .container__titulo--negrito{
      font-weight: 700;
    }
}